* {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background: #ffa300;
}
div {
    background: white;
}
.input-virus-name {
    color: white;
    background-color: #ffa300;
    border: none;
    border-radius:8px;
    width: 15em;
    height: 2em;
    padding-left: 1em;
    padding: 12px;
    margin-right: 2em;
    font-size: medium;
}
.input-virus-name:focus {
    outline: none;
}
.input-virus-name::placeholder {
    color: rgba(255, 255, 255, 0.555);
}
h1 {
    color: #ffa300;
    font-size: 5em;
    font-weight: bold;
    margin-top: -0.1em;
    margin-bottom: 0.2em;
}
h3 {
    color: #ffa300;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background: #ffa300;
}
.container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1em solid #ffa300;
    border-radius:8px;
    padding: 3em;
}
.margin-right {
    margin-right: 3em;
}
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 11px;
    padding-top: 8px;
    cursor: pointer;
    font-size: 15px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 9px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffa300;
    border: 0px solid #000000;
    border-radius: undefinedpx;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffcb6e;
}

.control input:checked ~ .control_indicator {
    background: #ffa300;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #ffa300;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 35;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator {
    border-radius: 50%;
}
.control-group {
    margin-right: 5em;
    margin-bottom: 2em;
}
.control-radio .control_indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 250ms;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}.control-radio .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-radio input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
.btn {
	box-shadow: 0px 10px 14px -7px #e69100;
	background:linear-gradient(to bottom, #fcc15c 5%, #ffa300 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    border: none;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffa300 5%, #fcc15c 100%);
	background-color:#ffa300;
}
.btn:active {
	position:relative;
	top:1px;
}
.btn:focus {
    outline: none;
}
.btn-small {
	box-shadow: 0px 10px 14px -7px #e69100;
	background:linear-gradient(to bottom, #fcc15c 5%, #ffa300 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    border: none;
}
.btn-small:hover {
	background:linear-gradient(to bottom, #ffa300 5%, #fcc15c 100%);
	background-color:#ffa300;
}
.btn-small:active {
	position:relative;
	top:1px;
}
.btn-small:focus {
    outline: none;
}
textarea {
    color: white;
    background: #ffa300;
    border: none;
    border-radius:8px;
    margin-top: 15px;
    padding: 20px;
    resize: none;
    font-size: medium;
}
.div-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}
